@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hero {
  background-image: linear-gradient(#24242451, rgba(0, 0, 0, 0.281)) , url('./images/hero-bg.jpg');
  background-size: cover;
  object-fit: cover;
}

.hero a {
  transition: all 0.5s;
  cursor: pointer;
}

.hero a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hero a span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hero a:hover span {
  padding-right: 25px;
}

.hero a:hover span:after {
  opacity: 1;
  right: 0;
}

.login-btn:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
  margin-bottom: -1px;
}
