@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hero {
  background-image: linear-gradient(#24242451, rgba(0, 0, 0, 0.281)) , url('./images/hero-bg.jpg');
  background-size: cover;
  object-fit: cover;
}

.hero h1 {
  text-shadow: 3px 3px rgb(57, 57, 57);
}

.hero p {
  color: white;
  text-shadow: 3px 3px rgb(57, 57, 57);
}

.login-btn:hover, .guitar-link:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
  margin-bottom: -1px;
}

.acoustic-btn {
  background-image: url('./images/acoustic-btn.jpg');
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 400px;
  height: 300px;
  transition: 0.3s;
}

.electric-btn {
  background-image: url('./images/electric-btn.jpg');
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 400px;
  height: 300px;
  transition: 0.3s;
}

.electric-btn span, .acoustic-btn span {
  display: none;
}

.acoustic-btn:hover, .electric-btn:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
  transition: 0.3s;
}

.electric-btn:hover span, .acoustic-btn:hover span {
  display: contents;
  color: white;
  text-shadow: 3px 3px black;
  font-weight: 600;
  font-size: xx-large;
}

.cart-list {
  overflow-y: auto;
}

@media only screen and (max-width: 1000px) {
  .guitar-link {
    display: none;
  }

  .login {
    display: none;
  }

  .logo {
    font-size: x-large;
  }

  #category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 1rem;
    background-color: white;
  }

  #category h1 {
    font-size: large;
    margin-bottom: 1rem;
    text-align: center;
  }

  .category-btns {
    display: flex;
    flex-direction: column;
  }

  .acoustic-btn, .electric-btn {
    display: flex;
    justify-content: center;
    width: 325px;
    height: 225px;
    align-items: center;
    opacity: 0.8;
  }

  .electric-btn span, .acoustic-btn span {
    display: contents;
    color: white;
    text-shadow: 3px 3px black;
    font-weight: 600;
    font-size: xx-large;
  }

  .register h1 {
    font-size: medium;
    text-align: center;
  }

  label {
    font-size: large;
  }
}